In [1]:
import pandas as pd
import numpy as np
import matplotlib
matplotlib.use('Agg')
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt
import statsmodels.api as sms

In [2]:
url = 'nhanes_2015_2016.csv'
da = pd.read_csv(url)

In [4]:
da["SMQ020x"] = da.SMQ020.replace({1: "Yes", 2: "No", 7: np.nan, 9: np.nan})

In [5]:
da["RIAGENDRx"] = da.RIAGENDR.replace({1: "Male", 2: "Female"})

In [6]:
da.RIAGENDRx

0         Male
1         Male
2         Male
3       Female
4       Female
         ...
5730    Female
5731      Male
5732    Female
5733      Male
5734    Female
Name: RIAGENDRx, Length: 5735, dtype: object

In [9]:
dx = da[["SMQ020x", "RIAGENDRx"]].dropna()

In [12]:
pd.crosstab(dx.SMQ020x, dx.RIAGENDRx)

RIAGENDRx  Female  Male
SMQ020x
No           2066  1340
Yes           906  1413

In [15]:
dx['SMQ020x'] = dx.SMQ020x.replace({'Yes': 1, 'No': 0})

dz = dx.groupby("RIAGENDRx").agg({"SMQ020x": [np.mean, np.size ]})
dz.columns = ['Proportion', 'Total n']

In [16]:
dz

           Proportion  Total n
RIAGENDRx
Female       0.304845     2972
Male         0.513258     2753

### Difference of Two Population Proportions

In [17]:
p = .304845
n = 2972
se_female = np.sqrt(p * (1-p)/n)
se_female

0.00844415041930423

In [18]:
p = .513258
n = 2753
se_male = np.sqrt(p*(1-p)/n)
se_male

0.009526078787008965

In [19]:
se_diff = np.sqrt(se_female**2 + se_male**2)
se_diff

0.012729880335656654

In [20]:
d = .304845 - .513258
lcb = d - 1.96 * se_diff
ucb = d + 1.96 * se_diff 
(lcb, ucb)

(-0.23336356545788706, -0.18346243454211297)